version: '3.2'

services:

  wordpress-db:
    image: mysql:5.7
    restart: always
    environment:
      - MYSQL_DATABASE=/run/secrets/wordpress_db
      - MYSQL_USER=/run/secrets/wordpress_db_user
      - MYSQL_PASSWORD=/run/secrets/wordpress_db_password
    volumes:
      - wordpress-db:/var/lib/mysql
    secrets:
      - wordpress_db
      - wordpress_db_password
      - wordpress_db_user

  wordpress-app:
    image: wordpress
    restart: always
    environment:
      - VIRTUAL_HOST=youdomain.kek
      - LETSENCRYPT_HOST=youdomain.kek
      - LETSENCRYPT_EMAIL=email+yourdomain@email.example
      - WORDPRESS_DB_HOST=wordpress-db
      - WORDPRESS_DB_USER=/run/secrets/wordpress_db_user
      - WORDPRESS_DB_PASSWORD=/run/secrets/wordpress_db_password
      - WORDPRESS_DB_NAME=/run/secrets/wordpress_db
    depends_on:
      - wordpress-db
      - nginx-proxy
    volumes:
      - wordpress-app:/var/www/html
    networks:
      - proxy-tier
      - default
    secrets:
      - wordpress_db
      - wordpress_db_password
      - wordpress_db_user

  portainer:
    image: portainer/portainer-ce
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    environment:
      - VIRTUAL_HOST=portainer.youdomain.kek
      - LETSENCRYPT_HOST=portainer.youdomain.kek
      - VIRTUAL_PORT=9000
    networks:
      - proxy-tier

  nextcloud-db:
    image: postgres
    restart: always
    volumes:
      - nextcloud-db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB_FILE=/run/secrets/nextcloud_db
      - POSTGRES_USER_FILE=/run/secrets/nextcloud_db_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/nextcloud_db_password
    secrets:
      - nextcloud_db
      - nextcloud_db_password
      - nextcloud_db_user

  nextcloud-app:
    image: nextcloud
    restart: always
    volumes:
      - nextcloud-app:/var/www/html
    environment:
      - VIRTUAL_HOST=nextcloud.youdomain.kek
      - LETSENCRYPT_HOST=nextcloud.youdomain.kek
      - TRUSTED_HOST=example.local
      - NEXTCLOUD_OVERWRITEPROTOCOL=https
      - POSTGRES_HOST=nextcloud-db
      - POSTGRES_DB_FILE=/run/secrets/nextcloud_db
      - POSTGRES_USER_FILE=/run/secrets/nextcloud_db_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/nextcloud_db_password
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_password
      - NEXTCLOUD_ADMIN_USER_FILE=/run/secrets/nextcloud_admin_user
    depends_on:
      - nextcloud-db
      - nginx-proxy
    networks:
      - proxy-tier
      - default
    secrets:
      - nextcloud_admin_password
      - nextcloud_admin_user
      - nextcloud_db
      - nextcloud_db_password
      - nextcloud_db_user

  nginx-proxy:
    build: ./proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    volumes:
      - certs:/etc/nginx/certs:ro
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-tier
    
  letsencrypt-companion:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    volumes:
      - certs:/etc/nginx/certs
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy-tier
    depends_on:
      - nginx-proxy

volumes:
  nextcloud-db:
  nextcloud-app:
  certs:
  vhost.d:
  html:
  portainer_data:
  wordpress-db:
  wordpress-app:

networks:
  proxy-tier:

secrets:
  nextcloud_admin_user:
    file: ./secrets/nextcloud/nextcloud_admin_user.txt # put admin username to this file
  nextcloud_admin_password:
    file: ./secrets/nextcloud/nextcloud_admin_password.txt # put admin password to this file
  nextcloud_db:
    file: ./secrets/nextcloud/nextcloud_db.txt # put postgresql db name to this file
  nextcloud_db_user:
    file: ./secrets/nextcloud/nextcloud_db_user.txt # put postgresql username to this file
  nextcloud_db_password:
    file: ./secrets/nextcloud/nextcloud_db_password.txt # put postgresql password to this file
  wordpress_db:
    file: ./secrets/wordpress/wordpress_db.txt # put wordpress db name to this file    
  wordpress_db_user:
    file: ./secrets/wordpress/wordpress_db_user.txt # put wordpress db name to this file      
  wordpress_db_password:
    file: ./secrets/wordpress/wordpress_db_password.txt # put wordpress db name to this file      